.header-container{
    padding-top:50px;
    height: 19.8%;
     width:70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.header-parent {
    /* background-color:white !important;    */
  
   
}
h1 {
    color: #FFF;
}
 
@media only screen and (max-width:1110px) {
    .header-parent{
        display: flex;
        align-items: flex-end;
    }
}
 
 
 .head{
     color: white;
     font-weight: bold;
  }
  .head:hover{
      color: var(--dark-orange)
  }

  