 
 .primary-btn:hover{
   color: aliceblue;
   border: 2px solid #ff5823;
   background-color: #1f2235;
 }
 .primary-btn{
  color: aliceblue;
  font-size: 12px;
  border: 2px solid linen;
  background-color: #1f2235;
}
 .highlighted-btn{
   color: var(--white);
   font-size: 12px;
   background-color: #ff5823;
 }
 @media only screen and (max-width: 568px){
   .highlighted-btn{
     z-index: -900;
   }
 }

 .red-border{
   border: 1px solid var(--error-message) !important;
 }